<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

<bean id="china" class="com.itbank.mvc77.ChineseCook"></bean>
<bean id="korea" class="com.itbank.mvc77.KoreanCook"></bean>

</beans>
